<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/users.css}" type="text/css" rel="stylesheet" />
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr style="font-weight: bold" bgcolor="lightgreen">
				<td>ID</td>
				<td>Article Name</td>
				<td>Category</td>
				<td>Url</td>
				<td>Image Url</td>
				<td>Author Image Url</td>
				<td>Create Date</td>
				<td>User</td>
				<td>User</td>
			</tr>
		</thead>
		<th:block th:each="article, iterStat:${articles}">
			<tr th:bgcolor="${iterStat.odd} ? white:lightgray ">
				
				<td th:text="${article.id}" />
				<td th:text="${article.articleName}" />
				<td th:text="${article.category}" />
				<td th:text="${article.about}" />
				<td th:text="${article.url}" />
				<td th:text="${article.imageUrl}" />
				<td th:text="${article.authImageUrl}" />
				<td th:text="${article.createDate}" />
				<td th:text="${article.user.firstName}">
			</tr>
		</th:block>
	</table>
	
	<br>
 	
	<table>
	<thead>
		<tr style="font-weight: bold" bgcolor="lightgreen">
		<td>id</td>
		<td>accept</td>
		<td>name</td>
		<td>email</td>
		<td>web site</td>
		<td>comment</td>
		<td>Article ID</td>
		</tr>
	</thead>
	<th:block th:each="comment,iterStat:${comments}">
	<tr th:if="${comment.article.id} == 2" th:bgcolor="${iterStat.odd} ? white:lightgray ">
	
			<td th:text="${comment.id}" />
			<td th:text="${comment.accept}" />
			<td th:text="${comment.name}" />
			<td th:text="${comment.email}" />
			<td th:text="${comment.webSite}" />
			<td th:text="${comment.comment}" />
			<td th:text="${comment.article.articleName}" />
			
			</tr>
	</th:block>
	
	
	</table>






</body>
</html>